<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script> 
  {{!-- js no tiene axios, y por ello lo requerimos  --}}
</head>
<body>

  <nav>
    <a href="/">Home</a><br>
    <a href="/auth/login">Login</a><br>
    <a href="/auth/signup">Signup</a><br>
    <a href="/auth/logout">Logout</a><br>
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>
</html>