<h2>Elige tu película</h2>

<a href="/user/verde">verde</a>
<a href="/user/rojo">rojo</a>
<a href="/user/amarillo">amarillo</a>



{{!-- <form action="/user/animo" method="post">
  <label for="">Genre:</label>
  <input type="text" name="genre"> <br><br>

  <label for="">Año:</label>
  <input type="text" name="año"> <br><br>

  <label for="">Popularidad:</label>
  <input type="text" name="popularidad"> <br><br> --}}

  

  {{!-- <button type="submit">ADD</button> --}}
</form>