<h1>Editar perfil</h1>

 <form action="/user/milista/update" method="POST"enctype="multipart/form-data">

    <label>Poster</label>
    <input type="file" name="photo">


<label for="name">Nombre:</label>
<input type="text" name="username" value="{{user.username}}">




<button type="submit">SAVE ME</button>
</form>

