<section class="editar-perfil">
<form class="form-login" action="/user/milista/update" method="POST"enctype="multipart/form-data">
<h1>Editar perfil</h1>
    <label>Cambia la foto</label>
    <input type="file" name="photo">


<label for="name">Nombre:</label>
<input type="text" name="username" value="{{user.username}}">
<button class="for-but" type="submit">SAVE ME</button>
</form>

</section>

