<form class="form-login"action="/auth/login" methoaction="/user/milista/update" method="POST"enctype="multipart/form-data">
<h2>Editar perfil</h2>
    <label>Poster</label>
    <input type="file" name="photo">


<label for="name">Nombre:</label>
<input type="text" name="username" value="{{user.username}}">
<button class="for-but" type="submit">SAVE ME</button>
</form>

