<form  class="form-login"action="/movie/{{ruta}}" method="post">

  <select class="select" name="genero" id="">
    <p>{{gener}}</p>
    {{#each gener}}
      <option value="{{this.value}}">{{name}}</option>
    {{/each}}
  </select>


  <button class="for-but"type="submit">enviar!</button>
</form>
  