<section class="genero">
  <form class="form-genero" action="/movie/{{ruta}}" method="post" style="padding-top:100px">

    <select name="genero" id="">
      {{!-- <p>{{pepe}}</p> --}}
      {{#each gener}}
        <option value="{{this.value}}">{{name}}</option>
      {{/each}}
    </select>


    <button class="enviar"type="submit">Ver peliculas</button>
  </form>
</section>




