
<h1>MI PERFIL</h1>

 <img src="{{user.img}}" alt="" srcset="">
<p>Nombre:{{user.username}}</p>
 <a href="/user/milista/update">Edit</a>
 <a href="user/milista">Actualizar</a> 
<h4>MI LISTA</h4>
{{user.lista}}