* {
  margin: 0;
}

body {
  font-family: 'Fira Sans', sans-serif;

}
//-----------------------HOME
.home {
  background-image: url("/images/home1.jpg");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  height: 100vh;
  
}

nav {
  width: 100vw;
  display: flex;
  background-color:rgba(182, 179, 179, 0.5);
  justify-content: flex-end;
  padding: 5px;
  box-sizing: border-box;
  font-size: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: black;
}

//------------------------------PELIS------------------------------
.movies-container {
  width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.movie-img{
  max-width: 20%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}
 
 nav a {
  margin-right: 15px;
  text-decoration: none;
  color: black;
  
 }
//-----------FORM,login,signup,select-------------
.signup{
  background-image: url("/images/home4.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display:flex;
  flex-direction: row-reverse;
}



.login{
  background-image: url("/images/home3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display:flex;
  flex-direction: row-reverse;
}
h2 {
  display: flex;
  justify-content: center;
}
.form-login{
  background: #fff;
  width: 250px;
  padding: 50px 50px 50px 50px;
  opacity: 0.6;
  border-radius: 6px;
  height: 400px;
  margin-top:100px;
  margin-right: 150px;
}
.select {
  width: 95%;
  background: #fff;
  text-align: center;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 9px;
  position: relative;
  letter-spacing: 0.06em;
  border-radius: 6px;
}

input { 
  width: 95%;
  background: #b6b1b1;
  text-align: center;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 9px;
  position: relative;
  letter-spacing: 0.06em;
  border-radius: 6px;
}
.for-but {
  padding: 8px;
  font-weight: 600;
  font-size: 18px;
  color: #000000;
  background-color: #b6b1b1;
  border-radius: 6px;
  display: block;
  margin: 0 auto 20px;
  }
  .for-but:hover{
    color: #b6b1b1;
    background-color: #363434;
  }
  label {
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-bottom: 12px;

  }
  .account-message {
    display: flex;
    justify-content: center;

  }
//-----------------LAYOUT---------------------
.avatar{
  display: flex;
  align-items: center;
  font-size: 10px;}
.overview {
  max-width: 200px;
}


//--------------------ANIMO----------------------

.container {
  display: flex;
  width: 100%;
  padding: 4% 2%;
  box-sizing: border-box;
  height: fit-content;
  height: 90vh;
}

.box {
  flex: 1;
  overflow: hidden;
  transition: .5s;
  margin: 0 2%;
  box-shadow: 0 20px 30px rgba(0,0,0,.1);
  line-height: 0;
  text-decoration: none;
  color: black;

  > img {
    width: 200%;
    height: calc(100% - 10vh);
    object-fit: cover; 
    transition: .5s;
  }

  > span {
    font-size: 20px;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }

  &:hover { 
    flex: 1 1 50%; 
  
    > img {
      width: 100%;
      height: 100%;
    }
  }

}